<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Expedia Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporter" />
	</listeners>


	<test name="Expedia Test Cases">
		<classes>
			
			<class name="com.expedia.qa.testcases.FlightPageTest"></class>
			
			

		</classes>
	</test>
</suite>